// Colors
$primary:           #1867c0;
$primary-darker:    #003e8f;
$primary-lighter:   #5f94f3;

$secondary:         #03dac6;
$secondary-darker:  #00a896;
$secondary-lighter: #66fff9;

$white:             #FFFFFF;
$whitesmoke:        #F5F5F5;
$black:             #000000;

$surface:           $white;
$background:        $black;
$error:             #B00020;

$text:              $black;
$text-white:        $white;