// Colors
$purple:            #6200EE;
$purple-darker:     #3700B3;
$purple-lighter:    #BB86FC;

$mint:              #03DAC6;
$mint-darker:       #018786;

$white:             #FFFFFF;
$whitesmoke:        #F5F5F5;
$black:             #000000;

$surface:           $white;
$background:        $black;
$error:             #B00020;

$text:              $black;
$text-white:        $white;